.sidebar {
    height: 100vh;
    flex: 0.2;
    flex-direction: column;
    color: white;
    min-width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #040404;
}

.sidebar__logo {
    height: 70px;
    object-fit: contain;
    padding: 10px;
    margin-right: auto;
}

.sidebar hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}